{% extends 'install/template/base.html' %}
{% block content %}
        <div class="row">
          <div class="col-lg-10">
            <h1>Installation <small>Install zeusCp()</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Install</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
HAHaHAHHAHAHAHhahHAHAHHAH              Welcome to zeusCp! This application is still under development so please bear with us!
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
    <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> System</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">

                {% for d in system %}
                  <div class="list-group-item">
                    {% if system[d] is not string %}
                        {% for ip in system[d] %}
                            <span class="badge">{{ ip }} </span>
                        {% endfor %}
                    {% else %}
                        <span class="badge">{{ system[d] }} </span>
                    {% endif %}
                    <i class=""></i> {{ d }}:
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Disk Usage</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                {% for type in disk %}
                    {% for x in disk[type] %}
                      <div class="list-group-item">
                        <span class="badge">{{ disk[type][x] }}
                        {% if "percent" != x %}
                         M
                        {% else %}
                         %
                        {% endif %}
                        </span>
                        <i class=""></i>{{ x|title }}:
                      </div>
                    {% endfor %}
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Memory Usage</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                {% for type in memory %}
                    {% for x in memory[type] %}
                      <div class="list-group-item">
                        <span class="badge">{{ memory[type][x] }}
                        {% if "percent" != x %}
                         M
                        {% else %}
                         %
                        {% endif %}
                        </span>
                        <i class=""></i>{{ x|title }}:
                      </div>
                    {% endfor %}
                {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div><!-- /.row -->
    </div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-12">
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <span style="font-size:1.5em">Instructions:</span>
              <p>
                To the left, you have the current system statistics.  Below, you have the options required to build out you server.  Select all of the packages you want installed.
              </p>
            </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Basic Lamp Installation</h3>
              </div>
              <form role="form" name="configure_server" method="post">
              <div class="panel-body">
                <div class="list-group">
                <div class="form-group">
                {% for d in lamp.l %}
                    {% if d.name != "csrf_token" %}
                  <div class="list-group-item">
                    {{ d.label(class="badge") }}
                    <i class=""></i>{{ d(class="checkbox") }}
                  </div>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="form-group">
                    <input class="form-control" type="submit" value="Configure Server">
                </div>
              </div>
              </form>
            </div>
          </div>
        </div><!-- /.row -->
    </div>
    </div>
{% endblock %}
